:root {
  --azure: azure;
}

.conteiner {
  display: flex;
  margin-top: 10px;
}

.container-information {
  background-image: linear-gradient(to top, #84ced5, #5b838a);
  margin-right: 2px;
  box-shadow: 0 0 50px rgba(8, 0, 0, 0.3);
}

.my-information {
  background-color: aliceblue;
  margin-left: 1px;
  box-shadow: 0 0 50px rgba(8, 0, 0, 0.3);
}

.rounded-img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(26, 9, 9, 0.2);
  padding: 0.4em;
  margin-bottom: 2em;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resume {
  width: 21cm;
  height: 29.7cm;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding: 0.5px;
  background-image: linear-gradient(to top, #d6dbdd, #64a1a9);

  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Tangerine", cursive;
  font-size: 50px;
  color: var(--azure);
  text-shadow: #08171a;
}

h2 {
  font-family: "Alkatra", cursive;
  font-family: "Playfair Display", serif;
  font-size: 22px;
}

.liner-blok {
  display: flex;
}

.brecket-left-blok > .brecket-right-blok {
  display: flex;
}

i {
  margin-top: 20px;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.greating {
  font-family: "Playfair Display", regular;
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.contacts {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  color: rgb(37, 37, 37);
}


.fa-check {
  color: var(--azure);
}

.text-muted {
  color: var(--azure);
}

.navbar {
  background-image: linear-gradient(to top, #84ced5, #7f9da2);
  box-shadow: 0 0 50px rgba(8, 0, 0, 0.3);
}

.biography-section {
  margin-left: 0.7em;
  margin-right: 0.5em;
}
.work-section {
  margin-left: 0.7em;
  margin-right: 0.5em;
}

.education-section {
  margin-left: 0.7em;
  margin-right: 0.5em;
}

.work-section-title{
  font-family: "Playfair Display", serif;
  font-size: 18px;
}

.educatin-section-title{
  font-family: "Playfair Display", serif;
}

.date{
  font-family: "Playfair Display", serif;
  font-size: 14px;
}

.title{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

